<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../css/main2.css">
</head>
<body>
    <div id="user-info">
        <h1>User Dashboard</h1>
        <div id="info-section">
            <h2>Personal Information</h2>
            <p id="username">Username: </p>
            <p id="email">Email: </p>
        </div>
        <div id="data-plans-section">
            <h2>Data Plans</h2>
            <ul id="data-plans-list" class = "plan-list">
                <!-- Data plans will be dynamically inserted here -->
            </ul>
        </div>
        <div id="usage-statistics">
            <h2>Usage Statistics</h2>
            <p id="data-usage">Data Usage: </p>
            <!-- Additional statistics can be added here -->
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>
